<!doctype html>
<html>

<head>
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsuuzlxeYEOjT_InKGoW1VOQvgH3yvP_0&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <title>{% block title %}{% endblock %}</title>
  {% block head %}
  {% endblock %}
</head>
<body>

  <div id="content">{% block content %}
    {% endblock %}</div>
</body>

</html>