<!DOCTYPE html>
<html lang="en">
<head>
  <title>FindDine</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
  /* styles go here */
    footer {
      color: yellow;
      text-align: center;
    }
  </style>
</head>
  <body>
  </button>
  <div class = "">
<div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav">
<li class="active"><a href="/">Home</a></li>
<li><a href="/login"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
<li><a href="/home">Maps</a></li>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Options <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">Assistance</a></li>
    <li><a href="#">Profile settings</a></li>
  
<!--         	<li class="nav-item"> <a class="nav-link disabled" href="#">Disabled</a> </li>-->
        </ul>
      </div>
    </nav>
    <header>
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="text-center">&nbsp;</h1>
              <h1 class="text-center">Welcome to FindDine!</h1>
<p class="text-center">Making small businesses proud for generations to come!</p>
              <p>&nbsp;</p>
              <p class="text-center"><a class="col-sm-6 btn btn-primary btn-lg" href="/register" role="button">Login or Sign Up here (restaurants only)</a></p>
              <div class="col-sm-6 col-auto text-center"> <a class="btn btn-block btn-lg btn-success" href="/home" title="">Dine now!</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mb-4 mt-2 text-center">
            <h2>GAIN ACCESS TO MANY CUISINES LOCALLY!&nbsp; &nbsp;</h2>
          </div>
        </div>
      </div>
      <div class="container ">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img src="{{ url_for('static', filename='indianfood.jpeg') }}" alt="Indian Food" style="width:300px;height:175px;">
            <h3>Indian&nbsp;</h3>
            <p>Looking for some spice and thrill? Look no further than your local Indian restaurants!</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img src="{{ url_for('static', filename='vietnamesefood.jpeg') }}" alt="Vietnamese Food" style="width:300px;height:175px;">
            <h3>Vietnamese&nbsp;</h3>
            <p>Ready for some hot and delicious soup? Winter is just around the corner!</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img src="{{ url_for('static', filename='thai-food.jpg') }}" alt="Thai Food" style="width:300px;height:175px;">
            <h3>Thai&nbsp;</h3>
            <p>One of a kind, you will not find any other cuisines that come close to this!</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img src="{{ url_for('static', filename='mexican-food.jpg') }}" alt="Mexican Food" style="width:300px;height:175px;">
            <h3>Mexican Taquerias&nbsp; &nbsp;</h3>
            <p>Enjoy authentic Mexican food, such as tacos, burritos, quesadillas, and more!</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img src="{{ url_for('static', filename='pizza-image.jpeg') }}" alt="Pizza" style="width:300px;height:175px;">
            <h3>Pizzerias&nbsp;</h3>
            <p>Pizza is always everyone's favorite! Explore local pizzerias around you.</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img src="{{ url_for('static', filename='med-sea-food.jpg') }}" alt="Mediterranean" style="width:300px;height:175px;">
            <h3>Mediterranean&nbsp;</h3>
            <p>Mediterranean food offers a variety of breads, meats, salads, desserts, and more!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mt-4 mb-2 text-center">
			  <h2>AND MANY MORE!&nbsp;</h2>
		<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search more cuisines" aria-label="Search" style="width: 400px; height: 50px">
          <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
<!--          <button class="btn btn-outline-success my-2 my-sm-0 hidden-md" type="submit">Search</button>-->
        </form>
          </div>
        </div>
        <div class="row">
		
          <div class="col-sm-6 col-lg-6">
          </div>
          <div class="col-sm-6 col-lg-6">
          </div>
          <div class="col-sm-6 col-lg-6">
          </div>
          <div class="col-sm-6 col-lg-6">
          </div>
        </div>
      </div>
      <div class="jumbotron">
        <div class="container">
          <div class="row">
			<h2 class = "text-center">Time to taste your local cuisines! Delivered right to your doorstep!</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 mb-2 text-center">
            <!-- <h2>CONTACT AND CUSTOMER SERVICE</h2> -->
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-lg-4">
<!--
            <h3>Feature Description</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt impedit est voluptatem doloremque architecto corporis suscipit quidem ratione! Quis laborum nam optio dolorem doloremque ex nobis quibusdam ad quo dolores? </p>
            <p><a class="btn btn-link" href="http://www.adobe.com">View details »</a></p>
-->
          </div>
          <div class="col-sm-6 col-lg-4">
<!--
            <h3>Feature Description</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, illo, libero esse assumenda culpa consequatur exercitationem beatae odio praesentium nihil iste ipsum reiciendis pariatur. Recusandae, reiciendis quidem eaque aut ab. </p>
            <p><a class="btn btn-link" href="http://www.adobe.com">View details »</a></p>
-->
          </div>
          <div class="col-sm-6 col-lg-4">
<!--
            <h3>Feature Description</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, adipisci recusandae veniam laudantium distinctio temporibus eveniet dolorum earum iusto veritatis provident ducimus minima dolore quas vel omnis cumque voluptas quibusdam.</p>
            <p><a class="btn btn-link" href="http://www.adobe.com">View details »</a></p>
-->
          </div>
          <div class="col-sm-6 col-lg-4">
<!--
            <h3>Feature Description</h3>
            <p> <em class="icon-desktop "></em> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, earum rem nostrum provident repellat inventore laborum deleniti quas facere Quasi impedit autem qui cupiditate modi vero vitae dolorum nisi explicabo ea dolores animi. Inventore, omnis.</p>
            <p><a class="btn btn-link" href="http://www.adobe.com">View details »</a></p>
-->
          </div>
          <div class="col-sm-6 col-lg-4">
<!--
            <h3>Feature Description</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, iure, perspiciatis, ab ad quia animi esse repudiandae tempore quisquam dolorem sequi voluptatum qui fugiat. Quasi impedit autem qui cupiditate iusto?</p>
            <p><a class="btn btn-link" href="http://www.adobe.com">View details »</a></p>
-->
          </div>
          <div class="col-sm-6 col-lg-4">
<!--
            <h3>Feature Description</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, aut, hic laudantium reprehenderit sapiente nemo consequatur corrupti accusantium! Hic, non rerum nihil reprehenderit excepturi explicabo error tempore aliquam eveniet odit.</p>
            <p><a class="btn btn-link" href="http://www.adobe.com">View details »</a></p>
-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="file:///Macintosh HD/Users/yash/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam31a7b1c2.TMP/js/jquery-3.4.1.min.js"></script> 
    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="file:///Macintosh HD/Users/yash/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam31a7b1c2.TMP/js/popper.min.js"></script> 
    <script src="file:///Macintosh HD/Users/yash/Library/Application Support/Adobe/Dreamweaver 2021/en_US/Configuration/Temp/Assets/eam31a7b1c2.TMP/js/bootstrap-4.4.1.js"></script>
  </body>
</html>