{% extends "generic.html" %}
{% block title %}Register{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<button class='snackbar' id='message' onclick='hide(this)'>
</button>

<div id="bg-modal" class="bg-modal">
  <div class="modal-content">
    <div class='info'>
      <h2>Register here</h2>
    </div>
    <div class='login-box'>
      <form action='/register' method="post">
        <legend>Register Now!</legend>
        <label class="floating" for="fullname">First and Last Name</label>
        <input class="input-field" type="text" id="fullname" name="fullname" required></input>
        <label class="floating" for="email">Email Address</label>
        <input class="input-field" type="text" id="email" name="email" required></input>
        <label class="floating" for="password">Password</label>
        <input class="input-field" type="password" id="password" name="password" required></input>
        <legend>Restaurant Information</legend>
        <label class="floating" for="b_name">Restaurant Title</label>
        <input class="input-field" class="input-field" type="text" id="b_name" name="b_name" required></input>
        <label class="floating" for="description">Short Description</label>
        <textarea id="description" name="description" required></textarea>
        <label class="floating" for="menu">Menu</label>
        <input class="input-field" type="text" id="menu" name="menu" required></input>
        <label class="floating" for="location">Address</label>
        <input class="input-field" type="text" id="location" name="location" required></input>
        <button class="btn btn-info" type="submit">Sign Up</button>
        <hr>
        <p class="text-muted">Have an account? <a href="/login">Sign In</a></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}